@import "src/themes/generated/variables.base";

.create-account-form {
  .dx-widget {
    gap: 1.7rem;
  }

  .dx-field-item {
    padding: unset;
  }

  .dx-layout-manager.dx-layout-manager-one-col .dx-box-item:not(:first-child) .dx-single-column-item-content > .dx-field-item {
    padding-top: unset;
  }

  .dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align) {
    padding-top: unset;
  }


}

.login-form {

  .dx-widget {
    gap: 1.7rem;
  }

  .form-text {
    margin: 0;
    color: rgba($base-text-color, alpha($base-text-color) * 0.7);
  }

  .dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align) {
    padding-top: unset;
  }

  .dx-field-item:not(.dx-field-item-has-group):not(.dx-field-item-has-tabs):not(.dx-first-row):not(.dx-label-v-align) {
    padding-top: unset;
  }

  .dx-layout-manager .dx-field-item {
    padding-bottom: unset;
  }

  .dx-layout-manager .dx-field-item .link {
    margin-bottom: 1.5rem;
  }
}


.profile-content .dx-field-item-label-location-top {
  display: block;
  padding: 0 0 0.5rem;
}
